<div id="resource-items" class="ui fluid divided items">
  <% resources.each do |resource| %>
    <div class="item">
      <%= image_tag resource.image_url, class: 'resource-item-list-image' if resource.image_url %>
      <div class="content">
        <%= link_to resource.title.truncate(80), resource, class: "header" %>
        <div class="meta">
          <span class="cinema"><%# resource.authors %></span>
        </div>
        <div class="description">
          <p><%= resource.description&.truncate(200) %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
